<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        li {
            width: 200px;
            height: 30px;
            margin-top: 10px;
            border: 2px solid skyblue;
            border-radius: 10px;
            padding-left: 50px;
            line-height: 30px;
        }
    </style>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="container">
        <li v-show="true">1</li>
        <li v-show="1==3">2</li>
        <li v-if="1===1">3</li>
        <li v-else-if="true">4</li>
        <li v-else=>4+1</li>
        <li>4+2</li>
        <li>4+3</li>
        <li>4+4</li>
        <template>
            <!-- template就是绑定一个组的状态显示 -->
            <!-- 其中可以控制各个分组的显示 -->
            <div v-if="true">
                <li>4+44</li>
                <li>4+44</li>
                <li>4+44</li>
            </div>
            <div v-if="true">
                <li>4+44555</li>
                <li>4+44555</li>
                <li>4+44555</li>
            </div>
        </template>
        
    </div>
</body>
<script>
    Vue.config.productionTip = false
    new Vue({
        el: ".container"
    })
</script>

</html>